<h1>Some flops</h1>


<div style="display: flex; flex-wrap: wrap;">
    <div style="margin: 25px; display: flex; flex-direction: column; align-items: center;">
      <h3 [hidden]="!isSelected(0)">This is the best!</h3>
      <img height="100%" [src]="flops[0]" alt="NAAAACHO">
      <button (click)="voteFor(0)" style="margin-top: 5px;" [disabled]="anySelected() && !isSelected(0)">{{getButtonText(0)}}</button>
    </div>

    <div style="margin: 25px; display: flex; flex-direction: column; align-items: center;">
      <h3 [hidden]="!isSelected(1)">This is the best!</h3>
      <img height="100%" [src]="flops[1]" alt="After Earth">
      <button (click)="voteFor(1)" style="margin-top: 5px;" [disabled]="anySelected() && !isSelected(1)">{{getButtonText(1)}}</button>
    </div>

    <div style="margin: 25px; display: flex; flex-direction: column; align-items: center;">
      <h3 [hidden]="!isSelected(2)">This is the best!</h3>
      <img height="100%" [src]="flops[2]" alt="Land of the Lost">
      <button (click)="voteFor(2)" style="margin-top: 5px;" [disabled]="anySelected() && !isSelected(2)">{{getButtonText(2)}}</button>
    </div>

    <div style="margin: 25px; display: flex; flex-direction: column; align-items: center;">
      <h3 [hidden]="!isSelected(3)">This is the best!</h3>
      <img height="100%" [src]="flops[3]" alt="Napoleon">
      <button (click)="voteFor(3)" style="margin-top: 5px;" [disabled]="anySelected() && !isSelected(3)">{{getButtonText(3)}}</button>
    </div>
</div>